# Archivos y directorios generados por Python/Entornos Virtuales

# Directorio del entorno virtual
venv/
.venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de Pytest y cobertura
.pytest_cache/
.coverage

# Archivos de base de datos local (ej. SQLite)
*.db
*.sqlite
*.sqlite3

# Archivos de configuración local/sensibles
.env
